.head{
  top: 1px;
}
.miny-head{
  top: 1px;
}
.back-head{
  top: 1px;
}
.left-hand{
  right: 1px;
}
.back-left-hand{
  right: -1px;
}
.left-hand-bottom{
  top: -1px;
  right: -1px;
}
.back-left-hand-bottom{
  top: -1px;
  right: -1px;
}
.right-hand-bottom{
  top: -1px;
}
.right-leg{
  top: -1px;
  right: -1px;
}
.back-right-leg{
  left: -1px;
}
.right-leg-bottom{
  top: -2px;
}
.back-right-leg-bottom{
  top: -2px;
}
.left-leg-bottom{
  top: -1px;
}
.miny-back-head {
  top: 50.5%;
}
.miny-head {
  top: 50.5%;
}
.miny-back-body {
  top:50%
}
.miny-body {
  top:50%
}
.miny-back-left-hand {
  left: 50.6%;
  top: 49%;
}
.miny-left-hand {
  left: 49%;
  top: 49%;
}
.miny-back-left-hand-bottom{
  top: 48.9%;
  left: 50%;
}
.miny-left-hand-bottom {
  top:49%
}
.miny-back-right-hand {
  top: 49%;
  left: 49.8%;
}
.miny-right-hand {
  left: 50.6%;
  top: 49%;
}
.miny-back-right-hand-bottom {
  top:49%
}
.miny-right-hand-bottom{
  top: 48.9%;
  left: 50%;
}
.miny-back-left-leg {
  top: 49%;
  left: 50.5%;
}
.miny-left-leg {
  top: 49%;
}
.miny-back-right-leg {
  top: 49%;
}
.miny-right-leg {
  top: 49%;
  left:50.5%;
}
.miny-back-left-leg-bottom {
  top: 48.8%;
}
.miny-left-leg-bottom {
  top: 48.8%;
}
.miny-back-right-leg-bottom {
  top: 48.8%;
}
.miny-right-leg-bottom {
  top: 48.8%;
}