@import 'variables';
@import 'mixins';

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background:rgba(0,0,0,.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    cursor:pointer;
    background:rgba(0,0,0,.4); ;
}
.container{
    padding: 0 10px;
}
.side-front,
.side-back{
    position: relative;
    max-width: 800px;
    width: 100%;
}
.side-front-mini,
.side-back-mini{
    position: relative;
    width: 150px;
    padding-top: 100%;
}

.side-front > *,
.side-back > *,
.side-front-mini > *,
.side-back-mini > * {
    position: absolute;
}
 img {
    max-width: 100%;
}
.side-front-mini img,
.side-back-mini img{
    transform: translate(-50%, -50%);
}
.btn-switch-side{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    top:10px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    max-width: 150px;
    text-align: center;
    z-index: 2;
}

.side-reverse-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
.side-reverse-text span{
    margin: 0 10px;
    font-weight:500;
    font-size: 20px;

}

.main-content-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    @media screen and (max-width: 940px){
        flex-direction: column;
    }
}


.select-color-suite{
    flex: 0 1 15.333%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: start;

    @media screen and (max-width: 940px){
        order: 1;
        display: block;
        overflow-x: scroll;
        padding: 0  0 10px;
        background: rgba(0, 0, 0, 0.03);
        white-space: nowrap;
        height: 120px;
        border: 1px solid #E4E4E4;
        border-top: none;
    }

    &-mobile {
        display: none;
        order: 1;
        background: rgba(0, 0, 0, 0.03);
        border: 1px solid #E4E4E4;
        border-bottom: none;
        padding: 10px 10px 10px 20px;

        &_title {
            display: inline-block;
            text-transform: uppercase;
            color:  #333333;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 5px;
        }

        &_warning {
            &-text {
                color:#FF5252;
            }
        }

        @media screen and (max-width: 940px){
            display: block;
        }
    }
}
.preview-suite-wrapper{
    flex: 1 1 55%;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

.select-wrapper {
    position: relative;
    max-width:70px;
    width:100%;
    margin-bottom: 5px;
    cursor: pointer;
    @media screen and (max-width: 940px){
        display: inline-flex;
        max-width: 100px;
        margin-bottom: 0px;

        & + & {
            margin-left: 10px;

        }
    }
}
.color-select {
    width:100%;
    padding-top:100%;
    font-size:0;
    overflow:hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.components {
    max-width: 145px;
    max-height: 200px;
    width: 100%;
    background: #f8f8f8;
    border: 2px solid #cbcbcb;
    margin: 0 5px 5px 0;

}
.components__img {
    width:100%;
    padding-top:100%;
    overflow:hidden;
    font-size:0;

    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}
.components__description {
    height:50px;
    padding:0 5px;
}
.disabled-event{
    pointer-events: none;
}
.not-allowed{
    cursor: not-allowed;
}
.is-active-color{
    transition: box-shadow .3s ease-out;
    box-shadow: inset 0px 0px 0px 6px rgb(220, 0, 78);
}
.is-active-part{
    border-color: #0c029d;

}
.components:hover{
    transition: .3s ease-out;
    box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75);
    transform: scale(1.01);
    cursor: pointer;
}
.toolTipText{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    @media screen and (max-width: 940px){
        display: none;
    }

}
.not-allowed:hover .toolTipText{
    visibility: visible;
}
.suite-constructor {
    width:500px;
    position: relative;
    margin: 0 auto;
}
.btnColorTool {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #A8A8A8;
    border-radius: 33px;
    padding: 10px 13px;
    user-select: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.9), 0 13px 12px -7px rgba(255,255,255,0.9);
    cursor: pointer;
    background: linear-gradient(180deg, #F3F3F3 0%, #EBEBEB 100%);
    transition: opacity .4s ease-in;
    will-change:left,top;
    @media screen and (max-width: 940px) {
        box-shadow: 0px -3px 9px rgba(255, 255, 255, 0.9), 0px 13px 12px -14px rgba(0, 0, 0, 0.19);
        padding:0;
        border-radius: 71px;
        width: 57px;
        height: 54px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        margin-right: 8px;
        @media screen and (max-width: 940px) {
            margin-right: 0;
        }
    }
    &__description {
        @include font ($ff: inherit, $fz:18px,$fc:#333333,$fw:500,$lh:1);
        max-width: 53px;
        @media screen and (max-width: 940px) {
            display: none;
        }
    }

    &--hide {
        transition: opacity .4s ease-in;
        opacity: 0;
        pointer-events: none;

    }

    &--selected {
        transition: background .4s ease-in, box-shadow .4s ease-in;
        background: linear-gradient(180deg, #DC004E 0%, #E40252 100%);
        box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.17);

        & span , svg {
            transition: color .4s ease-in, fill .4s ease-in;
            color: #fff;
            fill: #fff;
        }

        &:before,
        &:after {
            transition: background .4s ease-in;
            background: linear-gradient(180deg, #DC004E 0%, #E40252 100%);
        }

    }

    &--head.front-side{
        @include posA($top:20%,$left:32%,$delta_x:-50%,$delta_y:-50%);
        @media screen and (max-width: 940px){
            @include posA($top:17%,$left:36%,$delta_x:-50%,$delta_y:-50%);
            &:before {
                content: '';
                position: absolute;
                top: 38px;
                left: 99%;
                width: 32px;
                height: 2px;
                z-index: 2;
                transform: rotate(18deg);
                background-color: #A8A8A8;

            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 38px;
                left: 144%;
                background-color: #A8A8A8;
                z-index: 2;
            }
        }
    }
    &--head.back-side {
        @include posA($top:19%,$left:30%,$delta_x:-50%,$delta_y:-50%);
        @media screen and (max-width: 940px){
            @include posA($top:17%,$left:36%,$delta_x:-50%,$delta_y:-50%);
            &:before {
                content: '';
                position: absolute;
                top: 38px;
                left: 99%;
                width: 32px;
                height: 2px;
                z-index: 2;
                transform: rotate(18deg);
                background-color: #A8A8A8;

            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 38px;
                left: 144%;
                background-color: #A8A8A8;
                z-index: 2;
            }
        }
    }

    &--body {
        @include posA($top:20%,$left: 70%,$delta_x:-50%,$delta_y:-50%);
    }

    &--right-hand.front-side {
        @include posA($top:32%,$left: 20%,$delta_x:-50%,$delta_y:-50%);
        @media screen and (max-width: 940px){
            @include posA($top:28%,$left: 26%,$delta_x:-50%,$delta_y:-50%);
            &:before {
                content: '';
                position: absolute;
                top: 38px;
                left: 99%;
                width: 32px;
                height: 2px;
                z-index: 2;
                transform: rotate(18deg);
                background-color: #A8A8A8;

            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 38px;
                left: 144%;
                background-color: #A8A8A8;
                z-index: 2;
            }
        }
    }

    &--right-hand.back-side {
        @include posA($top:32%,$left: 81%,$delta_x:-50%,$delta_y:-50%);
        @media screen and (max-width: 940px){
            @include posA($top:30%,$left: 74%,$delta_x:-50%,$delta_y:-50%);
            &:before {
                content: '';
                position: absolute;
                top: 45px;
                right: 93%;
                width: 32px;
                height: 2px;
                z-index: 2;
                transform: rotate(-30deg);
                background-color: #A8A8A8;

            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 50px;
                right: 144%;
                background-color: #A8A8A8;
                z-index: 2;
            }
        }
    }

    &--right-wrist.front-side {
        @include posA($top:50%,$left: 20%,$delta_x:-50%,$delta_y:-50%);
        @media screen and (max-width: 940px){
            @include posA($top:44%,$left: 23%,$delta_x:-50%,$delta_y:-50%);
            &:before {
                content: '';
                position: absolute;
                top: 26px;
                left: 99%;
                width: 32px;
                height: 2px;
                z-index: 2;
                transform: rotate(0deg);
                background-color: #A8A8A8;

            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 23px;
                left: 144%;
                background-color: #A8A8A8;
                z-index: 2;
            }
        }
    }

    &--right-wrist.back-side {
        @include posA($top:50%,$left: 82%,$delta_x:-50%,$delta_y:-50%);
        @media screen and (max-width: 940px){
            @include posA($top:44%,$left: 77%,$delta_x:-50%,$delta_y:-50%);
            &:before {
                content: '';
                position: absolute;
                top: 26px;
                right: 99%;
                width: 32px;
                height: 2px;
                z-index: 2;
                transform: rotate(0deg);
                background-color: #A8A8A8;

            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 23px;
                right: 144%;
                background-color: #A8A8A8;
                z-index: 2;
            }
        }
    }

    &--left-hand.front-side{
        @include posA($top:32%,$left: 81%,$delta_x:-50%,$delta_y:-50%);
    }

    &--left-hand.back-side{
        @include posA($top:32%,$left: 20%,$delta_x:-50%,$delta_y:-50%);
    }

    &--left-wrist.front-side {
        @include posA($top:50%,$left: 82%,$delta_x:-50%,$delta_y:-50%);
    }

    &--left-wrist.back-side  {
        @include posA($top:50%,$left: 20%,$delta_x:-50%,$delta_y:-50%);
    }

    &--right-leg.front-side {
        @include posA($top:66%,$left: 25%,$delta_x:-50%,$delta_y:-50%);
        @media screen and (max-width: 940px){
            @include posA($top:58%,$left: 30%,$delta_x:-50%,$delta_y:-50%);
            &:before {
                content: '';
                position: absolute;
                top: 26px;
                left: 99%;
                width: 37px;
                height: 2px;
                z-index: 2;
                transform: rotate(0deg);
                background-color: #A8A8A8;

            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 23px;
                left: 150%;
                background-color: #A8A8A8;
                z-index: 2;
            }
        }
    }

    &--right-leg.back-side {
        @include posA($top:66%,$left: 77%,$delta_x:-50%,$delta_y:-50%);
        @media screen and (max-width: 940px){
            @include posA($top:58%,$left: 70%,$delta_x:-50%,$delta_y:-50%);
            &:before {
                content: '';
                position: absolute;
                top: 26px;
                right: 99%;
                width: 37px;
                height: 2px;
                z-index: 2;
                transform: rotate(0deg);
                background-color: #A8A8A8;

            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 23px;
                right: 150%;
                background-color: #A8A8A8;
                z-index: 2;
            }
        }
    }

    &--right-ankle.front-side {
        @include posA($top:83%,$left: 25%,$delta_x:-50%,$delta_y:-50%);
        @media screen and (max-width: 940px){
            @include posA($top:70%,$left: 30%,$delta_x:-50%,$delta_y:-50%);
            &:before {
                content: '';
                position: absolute;
                top: 31px;
                left: 99%;
                width: 37px;
                height: 2px;
                z-index: 2;
                transform: rotate(7deg);
                background-color: #A8A8A8;

            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 30px;
                left: 160%;
                background-color: #A8A8A8;
                z-index: 2;
            }
        }
    }

    &--right-ankle.back-side {
        @include posA($top:83%,$left: 77%,$delta_x:-50%,$delta_y:-50%);
        @media screen and (max-width: 940px){
            @include posA($top:70%,$left: 70%,$delta_x:-50%,$delta_y:-50%);
            &:before {
                content: '';
                position: absolute;
                top: 40px;
                right: 97%;
                width: 37px;
                height: 2px;
                z-index: 2;
                transform: rotate(-20deg);
                background-color: #A8A8A8;

            }
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 44px;
                right: 160%;
                background-color: #A8A8A8;
                z-index: 2;
            }
        }
    }

    &--left-leg.front-side {
        @include posA($top:66%,$left: 77%,$delta_x:-50%,$delta_y:-50%);
    }

    &--left-leg.back-side {
        @include posA($top:66%,$left: 25%,$delta_x:-50%,$delta_y:-50%);
    }

    &--left-ankle.front-side {
        @include posA($top:83%,$left: 77%,$delta_x:-50%,$delta_y:-50%);
    }
    &--left-ankle.back-side {
        @include posA($top:83%,$left: 25%,$delta_x:-50%,$delta_y:-50%);
    }
}
.toggle-tools {
    display: flex;
    justify-content: center;
    user-select: none;

    &__wrapper {
        cursor: pointer;
    }

    &__text {
        @include font ($ff: inherit, $fz:16px,$fc:#333333,$fw:400,$lh:1);
        text-decoration: underline;
    }
    @media screen and (max-width: 940px){
        display: none;
    }
}

.select-lines {
    position: absolute;


    &--left-hand-front {
        top:25%;
        left:59%;
    }

    &--hide {
        @include tr();
        opacity: 0;
    }

    &__svg {
        &--left-hand-front {
            width:58px;
            height: 129px;
        }

    }
}

@import 'posA';
@import 'mobileSwitcher';